* {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: 'Plus Jakarta Sans', sans-serif;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a :visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}




/* Spinner 4 */

.spinner {
	width: 10vw;
	height: 10vh;
	border-radius: 50%;
	transform: scale(0);
	background: #546FFF;
	opacity: 1;
	animation: spinner4 800ms linear infinite;
	margin: auto;


}

.LoadingPage{
	display: flex;
	justify-content: center;
	align-items: center;
	width:100vw;
	height:100vh;
}
.NotFoundContainer{
	width:100vw;
	height: 100vh;
	display: flex;
	font-size: 32px;
	font-weight: 500;
	gap:5vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.NotFoundContainer_Link{
	width: 200px;
	height: 60px;
	color: white;
	background-color: #546FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

@keyframes spinner4 {
	to {
		transform: scale(1.5);
		opacity: 0;
	}
}